<MudPaper Width="100%">
    <CommunicationStatusIndicator></CommunicationStatusIndicator>
    
    <MudList Clickable="@(HasItems && !IsScanningDevices)" Dense="true">
        @if (!HasItems)
        {
            <MudListItem Dense="true">
                <MudText>No devices found, please start the scan</MudText>
            </MudListItem>
        }
        else
        {
            foreach (var item in DeviceScannerViewModel.ScannedDevices)
            {
                var device = item;
                <MudListItem @key="@item.UUID" Dense="true" @onclick="() => OnDeviceListItemClick(device)">
                    <div class="d-flex flex-grow-1 gap-4">
                        <MudText Class="flex-auto">@item.DeviceName</MudText>
                        <SignalIndicator SignalStrength="@item.Rssi"></SignalIndicator>
                        <MudText Class="flex-auto">@(item.SystemConfigured ? "Configured" : "Not Configured")</MudText>
                        <MudText Class="flex-auto">@(item.SystemType.Name)</MudText>
                    </div>
                </MudListItem>       
            }
        }
    </MudList>

    <div class="d-flex m-1" style="align-items: center; justify-content: center">
        <MudFab Class="m-1" Size="Size.Small" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Bluetooth" Label="@ScanButtonText" @onclick="ToggleScanDevices"/>    
    </div>
</MudPaper>
