@inherits GXOVnTComponent
<MudPaper Width="100%">
    <div class="d-flex flex-grow-1 gap-4">
        @foreach (var context in BluetoothService.DiscoveredDevices)
        {
            var cardKey = context.UUID;
            <MudCard @key="cardKey" Elevation="2" Outlined="true">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">Device name: @context.DeviceName</MudText>
                    </CardHeaderContent>
                </MudCardHeader>

                <MudCardContent>
                    <MudStack>
                        <MudField Variant="Variant.Text">Rssi: @context.Rssi <SignalIndicator SignalStrength="@context.Rssi"></SignalIndicator></MudField>
                        <MudField Variant="Variant.Text">Bluetooth State: @context.DeviceState</MudField>
                        <MudField Variant="Variant.Text">System Type: @context.SystemType</MudField>
                        <MudField Variant="Variant.Text">System Configured: @context.SystemConfigured</MudField>
                    </MudStack>
                </MudCardContent>
                
                <MudCardActions>
                    <MudButton Disabled="IsScanningDevices" Variant="Variant.Text" Color="Color.Primary" @onclick="() => OnDeviceListItemClick(context)">Select</MudButton>
                    @if (!string.IsNullOrWhiteSpace(_selectedUUId) && context.UUID.Equals(_selectedUUId))
                    {
                        <MudIcon Class="my-2" Color="Color.Success" Icon="@Icons.Material.Filled.Check" Size="Size.Small"></MudIcon>
                    }
                </MudCardActions>
            </MudCard>
        }
    </div>
    <div class="d-flex my-4" style="align-items: center; justify-content: center">
        <MudFab Class="m-1" Size="Size.Small" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Bluetooth" Label="@ScanButtonText" @onclick="ToggleScanDevices"/>    
    </div>
</MudPaper>
